@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;400;500;700&display=swap');
:root{
    --Moderate-Cyan: hsl(176, 50%, 47%);
    --Dark-Cyan: hsl(176, 72%, 28%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 48%); 
}

/*
  Custom CSS Reset
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  ul{
    list-style: none;
    padding: 0;
  }
  button{
    padding: 0;
  }
  #root {
    isolation: isolate;
  }

  /* 
    Body and Main
  */

  body{
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    background-color: #f9f3f3;
  }

  main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  /* Header */

  header{
    padding: 1.5rem;
    height: 22rem;
    background-image: url("../images/image-hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  header .top-bar{
    display: flex;
    justify-content: space-between;
  }

  header .logo-img{
    width: 128px;
    height: 20px;
  }

  header .close-menu{
    display: none;
  }

  header .menu-icon{
    height: fit-content;
  }

  header nav{
    display: none;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
    position: absolute;
    top: 4rem;
    z-index: 1000;
    width: 80%;
    left: 2rem;
  }

  header nav ul li{
    padding: 1.6rem;
    border-bottom: 1px solid gray;
  }

  header nav ul li:last-child{
    border-bottom: none;
  }

  header nav a{
    text-decoration: none;
    color: #000000;
    font-weight: 700;
  }

  header .close-menu{
    width: 14px;
    height: 15px;
  }

  .bar{
    width: 1.2rem;
    height: 0.2rem;
    background-color: #ffffff;
    margin-bottom: .2rem;
  }

  /* Project Header Section */
  
  section{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 2rem 1.25rem;
    justify-content: center;
    align-items: center;
    width: 22rem;
    border: 1px solid hsl(0, 0%, 85%);
    background-color: white;
    border-radius: 0.7rem;
    text-align: center;
    position: relative;
    top: -4rem;
  }

  .mc-logo{
    width: 56px;
    height: 56px;
    position: absolute;
    top: -30px;
  }

  .project-header h2{
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'Commissioner', sans-serif;
  }

  .project-header h2 span{
    display: block;
  }

  .project-header p{
    font-weight: 400;
    color: var(--Dark-Gray);
  }

  .project-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    width: 100%;
  }

  .btn{
    background-color: var(--Moderate-Cyan);
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: none;
    color: #ffffff;
    width: 14rem;
    cursor: pointer;
  }

  .btn:hover{
    background-color: var(--Dark-Cyan);
  }

  .bookmark-btn{
    border: none;
    background-color: hsl(0, 0%, 88%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    cursor: pointer;
  }

  .bookmark-btn img{
    width: 56px;
    height: 56px;
  }

  .bookmark-btn span{
    color: var(--Dark-Gray);
    padding: 0 1rem;
    display: none;
  }

  /* Project Stats */

  .project-stats h2{
    font-size: 2.25rem;
  }

  .project-stats span{
    display: block;
    font-size: 1rem;
    margin-top: .5rem;
    color: var(--Dark-Gray);
    font-weight: 400;
  }

  .seperator{
    margin: 0 auto;
    width: 4rem;
    height: .05rem;
    background-color: var(--Dark-Gray);
  }

  .money-bar{
    width: 100%;
    height: .75rem;
    background-color: hsl(0, 0%, 88%);;
    border-radius: .3rem;
    margin-top: 1rem;
    position: relative;
  }

  .filled{
    width: 85%;
    height: .75rem;
    background-color: var(--Moderate-Cyan);
    border-radius: .3rem;
    position: absolute;
    left: 0;
    top: 0;
  }

  /* Project Main */

  .project-main{
    text-align: left;
  }

  .project-main h2{
    align-self: flex-start;
    font-size: 1.25rem;
  }

  .project-main p{
    color: var(--Dark-Gray);
    font-weight: 400;
    font-size: 0.9rem;
  }

  /* Reward Cards */

  .reward-card{
    border: 1px solid hsl(0, 0%, 85%);;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
  }

  .reward-card p{
    color: var(--Dark-Gray);
    font-weight: 400;
    font-size: 0.9rem;
  }

  .reward-card h3{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .reward-card h3 span{
    color: var(--Moderate-Cyan);
  }

  .reward-card footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .reward-card footer p{
    font-size: 2rem;
    color: black;
    font-weight: 700;
  }

  .reward-card footer span{
    font-size: 0.9rem;
    color: var(--Dark-Gray);
    position: relative;
    top: -0.5rem;
    left: 0.5rem;
  }

  .reward-card footer button{
    width: 10rem;
    padding: 1rem;
  }

  .reward-card .btn[disabled="disabled"]{
    opacity: 0.65;
  }

  /* Select Modal Design */

  .modal{
    align-items: flex-start;
    text-align: left;
    position: absolute;
    top: -10rem;
    z-index: 1000;
    display: none;

    /* position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
  }

  .modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .modal-header h2{
    font-size: 1.25rem;
  }

  .modal-header img{
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  .modal p{
    color: var(--Dark-Gray);
    font-weight: 400;
    font-size: 0.9rem;
  }

  .modal-card{
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    text-align: left;
  }
  
  .modal-card .card-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
  }

  .card-header input[type="radio"]{
    width: 1.25rem;
    height: 1.25rem;
  }

  .card-header h3{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .card-header h3 span{
    color: var(--Moderate-Cyan);
  }

  .card-bottom-divider{
    height: 0.05rem;
    background-color: var(--Dark-Gray);
    margin: 0 -2rem;
    grid-row: 1;
    grid-column: span 2;
  }

  .card-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .card-bottom p{
    grid-row: 2;
    grid-column: span 2;
    justify-self: center;
  }

  .card-bottom .btn{
    width: 8rem;
    grid-column: 2/3;
    grid-row: 3;
    justify-self: center;
  }

  .card-bottom input[type="number"]{
    width: 5rem;
    border-radius: 1rem;
    border: 1px solid var(--Dark-Gray);
    padding: 0.5rem;
    grid-column: 1/2;
    grid-row: 3;
    justify-self: center;
    align-self: center;
    text-align: center;
  }

  .card-bottom-divider{
    display: none;
  }

  .modal-card .stock{
    font-size: 1.2rem;
    color: black;
    font-weight: 700;
    margin: 1rem 0;
  }

  .modal-card .stock span{
    font-size: 0.9rem;
    color: var(--Dark-Gray);
    position: relative;
    top: -0.2rem;
    left: 0.5rem;
  }

  .modal-card:last-of-type{
    opacity: 0.75;
  }

  .card-bottom{
    display: none;
  }

  /* Thank You Card */

  .ty-card{
    gap: 2rem;
    position: fixed;
    top: 20%;
    z-index: 1000;
    display: none;
  }

  .ty-card p{
    font-size: 0.9rem;
    color: var(--Dark-Gray);
  }

  .ty-card .btn{
    width: 8rem;
  }

  .btn[disabled="disabled"]{
    cursor: default;
  }

  .modal-card .card-header h3:hover{
    color: var(--Moderate-Cyan);
  }

  .selected > .card-bottom {
    display: grid;
  }

  .selected > .card-bottom-divider {
    display: grid;
  }

  .selected{
    border: 2px solid var(--Moderate-Cyan);
  }

  /* Darken Background When Modal Opened */

  .darken-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.5;
    display: none;

    /* z-index must be below .modal and above everything else  */
    z-index: 1;
  }

/* Media Queries */
  @media only screen and (min-width: 720px) {
    /* Header */
    header{
      padding: 3rem 10%;
      height: 26rem;
      background-image: url("../images/image-hero-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    header .menu-icon{
      display: none;
    }

    header nav{
      display: block;
      background: none;
      border: none;
      box-shadow: none;
      position: static;
      width: auto;
    }

    header nav ul{
      display: flex;
      flex-direction: row;
      gap: 3rem;
    }

    header nav ul li{
      padding: 0;
      border-bottom: none;
    }

    header nav a{
      color: #ffffff;
      font-weight: 400;
    }

    /* Project Header */

    section{
      width: 50%;
      top: -6rem;
      padding: 3rem 1.25rem;
    }

    .project-header h2 span{
      display: inline;
    }

    .project-btns{
      justify-content: space-between;
      padding: 1rem 0;
    }

    .bookmark-btn span{
      display: block;
    }

    .btn{
      width: 12rem;
    }

    /* Reward Card */

    .reward-card h3{
      flex-direction: row;
      justify-content: space-between;
    }

    .reward-card footer{
      flex-direction: row;
      justify-content: space-between;
    }

    .card-header h3{
      flex-direction: row;
      gap: 1rem;
    }

    .ty-card{
      width: 25rem;
    }
    
  }

  @media only screen and (min-width: 1200px){
    .project-stats{
      display: grid;
      grid-template-columns: minmax(0,3fr) 1fr minmax(0,3fr) 1fr minmax(0,3fr);
      gap: 2rem;
      padding: 3rem 2.5rem;
      text-align: left;
    }

    .seperator{
      margin: 0 auto;
      width: 0.05rem;
      height: 4rem;
      background-color: var(--Dark-Gray);
    }

    .money-bar{
      grid-row: 2;
      grid-column: span 5;
    }

    .project-main{
      padding: 3rem 6rem;
      gap: 2rem;
    }

    .modal-card{
      position: relative;
      padding: 3rem 2rem;
    }

    .modal-card .stock{
      position: absolute;
      top: 14%;
      right: 5%;
    }

    .modal{
      padding: 4rem 2rem;
      top: -15rem;
    }

    .modal-header img{
      position: relative;
      top: -2rem;
      cursor: pointer;
    }

    .modal-card .card-content{
      padding: 0 2rem;
      margin-bottom: 1rem;
    }

    .card-bottom{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding-top: 2rem;
    }

    .card-bottom p{
      position: absolute;
      left: 0%;
    }

    .card-bottom .btn{
      position: absolute;
      right: 0%;
    }

    .card-bottom input[type="number"]{
      position: absolute;
      right: 28%;
    }

    .card-bottom{
      display: none;
    }

  }
